<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enjoy.mapper.UserMapper">
    <resultMap id="User" type="com.enjoy.entity.User" >
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="mail" property="mail"/>
        <result column="address" property="address"/>
        <result column="reamark" property="reamark"/>
    </resultMap>

    <sql id="user_column">
        id, name, password, mail, address, reamark
    </sql>

    <insert id="insertByList" parameterType="java.util.ArrayList">
        insert into user
        (name, password, mail, address, reamark)
        values
        <foreach collection="list" item="obj" index="index" separator=",">
            (#{obj.name}, #{obj.password}, #{obj.mail}, #{obj.address}, #{obj.reamark})
        </foreach>
    </insert>
    <select id="selectByName" parameterType="java.lang.String" resultType="User">
        select 
        <include refid="user_column" />
        from user
        where name = #{name}
    </select>
</mapper>